html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: #4B39EF;
}


/* Login */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 15rem;
}

.title {
  text-align: center;
  margin: 0;
  color: #fff;
}

.main {
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.button {
  border: none;
  background-color: #4B39EF;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 2rem;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

.label {
  font-weight: 500;
  font-size: 2rem;
  color: #4B39EF;
  margin: 0.1rem;
  padding: 0.4rem;
}

.input-field {
  font-size: 1.8rem;
  padding: 0.3rem 0.4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #4B39EF;
}

.submit {
  width: 40%;
  padding: 1.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #4B39EF;
  cursor: pointer;
}

@media (min-width: 750px) {
  .buttons {
    gap: 4rem;
  }

  .field {
    width: 50%;
  }

  .submit {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .buttons {
    gap: 8rem;
  }

  .field {
    width: 30%;
  }

  .submit {
    width: 15%;
  }
}